---
import Image from "astro/components/Image.astro";
import imgGlass from "../assets/glass.jpg";
---

<main>
  <h2>Recent posts</h2>
  <ul>
    <li>
      <article>
        <Image src={imgGlass} alt="That's the text" />
        <header>
          <h3>React web hooks</h3>
        </header>
        <p class="postArticle">
          Web hooks in React are very powerful tools to use in this environment.
          It helps you to animate your web page, but not only that.
        </p>

        <footer>
          <a
            href="/full-post-url"
            aria-label="Read full post about React web hooks">Read more</a
          >
          <div>
            <p>Author: Jan Kowal</p>
            <time datetime="2025-10-21">Oct 21, 2025</time>
          </div>
        </footer>
      </article>
    </li>
    <li>
      <article>
        <Image src={imgGlass} alt="That's the text" />
        <header>
          <h3>React web hooks</h3>
        </header>
        <p class="postArticle">
          Web hooks in React are very powerful tools to use in this environment.
          It helps you to animate your web page, but not only that.
        </p>

        <footer>
          <a
            href="/full-post-url"
            aria-label="Read full post about React web hooks">Read more</a
          >
          <div>
            <p>Author: Jan Kowal</p>
            <time datetime="2025-10-21">Oct 21, 2025</time>
          </div>
        </footer>
      </article>
    </li>
    <li>
      <article>
        <Image src={imgGlass} alt="That's the text" />
        <header>
          <h3>React web hooks</h3>
        </header>
        <p class="postArticle">
          Web hooks in React are very powerful tools to use in this environment.
          It helps you to animate your web page, but not only that.
        </p>

        <footer>
          <a
            href="/full-post-url"
            aria-label="Read full post about React web hooks">Read more</a
          >
          <div>
            <p>Author: Jan Kowal</p>
            <time datetime="2025-10-21">Oct 21, 2025</time>
          </div>
        </footer>
      </article>
    </li>
    <li>
      <article>
        <Image src={imgGlass} alt="That's the text" />
        <header>
          <h3>React web hooks</h3>
        </header>
        <p class="postArticle">
          Web hooks in React are very powerful tools to use in this environment.
          It helps you to animate your web page, but not only that.
        </p>

        <footer>
          <a
            href="/full-post-url"
            aria-label="Read full post about React web hooks">Read more</a
          >
          <div>
            <p>Author: Jan Kowal</p>
            <time datetime="2025-10-21">Oct 21, 2025</time>
          </div>
        </footer>
      </article>
    </li>
    <li>
      <article>
        <Image src={imgGlass} alt="That's the text" />
        <header>
          <h3>React web hooks</h3>
        </header>
        <p class="postArticle">
          Web hooks in React are very powerful tools to use in this environment.
          It helps you to animate your web page, but not only that.
        </p>

        <footer>
          <a
            href="/full-post-url"
            aria-label="Read full post about React web hooks">Read more</a
          >
          <div>
            <p>Author: Jan Kowal</p>
            <time datetime="2025-10-21">Oct 21, 2025</time>
          </div>
        </footer>
      </article>
    </li>
    <li>
      <article>
        <Image src={imgGlass} alt="That's the text" />
        <header>
          <h3>React web hooks</h3>
        </header>
        <p class="postArticle">
          Web hooks in React are very powerful tools to use in this environment.
          It helps you to animate your web page, but not only that.
        </p>

        <footer>
          <a
            href="/full-post-url"
            aria-label="Read full post about React web hooks">Read more</a
          >
          <div>
            <p>Author: Jan Kowal</p>
            <time datetime="2025-10-21">Oct 21, 2025</time>
          </div>
        </footer>
      </article>
    </li>
    <li>
      <article>
        <Image src={imgGlass} alt="That's the text" />
        <header>
          <h3>React web hooks</h3>
        </header>
        <p class="postArticle">
          Web hooks in React are very powerful tools to use in this environment.
          It helps you to animate your web page, but not only that.
        </p>

        <footer>
          <a
            href="/full-post-url"
            aria-label="Read full post about React web hooks">Read more</a
          >
          <div>
            <p>Author: Jan Kowal</p>
            <time datetime="2025-10-21">Oct 21, 2025</time>
          </div>
        </footer>
      </article>
    </li>
    <li>
      <article>
        <Image src={imgGlass} alt="That's the text" />
        <header>
          <h3>React web hooks</h3>
        </header>
        <p class="postArticle">
          Web hooks in React are very powerful tools to use in this environment.
          It helps you to animate your web page, but not only that.
        </p>

        <footer>
          <a
            href="/full-post-url"
            aria-label="Read full post about React web hooks">Read more</a
          >
          <div>
            <p>Author: Jan Kowal</p>
            <time datetime="2025-10-21">Oct 21, 2025</time>
          </div>
        </footer>
      </article>
    </li>
    <li>
      <article>
        <Image src={imgGlass} alt="That's the text" />
        <header>
          <h3>React web hooks</h3>
        </header>
        <p class="postArticle">
          Web hooks in React are very powerful tools to use in this environment.
          It helps you to animate your web page, but not only that.
        </p>

        <footer>
          <a
            href="/full-post-url"
            aria-label="Read full post about React web hooks">Read more</a
          >
          <div>
            <p>Author: Jan Kowal</p>
            <time datetime="2025-10-21">Oct 21, 2025</time>
          </div>
        </footer>
      </article>
    </li>
  </ul>
  <a href="#stmh" id="checkForMore">Check for more</a>
</main>

<style>
  main {
    width: 100%;
    height: auto;

    margin-block: 4rem;

    & h2 {
      text-align: center;
      margin-block: 2rem 4rem;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    list-style: none;
  }

  article {
    width: 20rem;
    min-height: 30rem;
    max-height: 30rem;
    padding: 1rem;

    background-color: color-mix(in srgb, var(--text-color), transparent 85%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    overflow: hidden;
  }

  img {
    background-color: white;
    width: 100%;
    height: 10rem;
    flex-grow: 1;
    border-radius: 10px;

    object-fit: cover;
    object-position: center;
  }

  footer div p,
  time {
    font-size: 14px;
    color: var(--alternative-text-color);
  }
  footer div {
    width: 100%;
    height: auto;

    display: inline-flex;

    justify-content: space-between;
  }
  footer a {
    display: block;
    padding: 0.75rem 1.25rem;
    margin-block: 1rem;
    background-color: var(--secondary-color);
    border-radius: 10px;
    width: max-content;
    height: auto;
  }

  .postArticle {
    overflow: scroll;
    scrollbar-color: var(--alternative-text-color) transparent;
  }

  #checkForMore {
    display: block;
    width: fit-content;
    padding: 1.25rem 1.5rem;
    margin-top: 5rem;
    text-align: center;
    margin-inline: auto;
    background-color: var(--secondary-color);
    border-radius: 10px;
  }
</style>
